.generate-license-container {
	h3 {
		margin-bottom: $spacing-default;
	}
}

.generate-license-sheet {
	margin: $spacing-default auto $spacing-lg;
	padding-bottom: $spacing-default;

	.choose-purchase {
		margin-bottom: $spacing-default;
	}
}

.licenses {
	background-color: $body-bg;
	border-radius: $border-radius;
	padding: $spacing-default;
}

.license-search {
	&.custom-search {
		margin-bottom: $spacing-default;
	}
}
