#generateLicense {
	.additional-information {
		dl {
			font-size: $mid-font-size;
			line-height: 1;

			div {
				display: flex;
			}
		}

		dt::after {
			content: ': \00a0';
		}

		h4 {
			margin-bottom: $spacing-md;
		}
	}

	.specific-details-content {
		background-color: $body-bg;
		border-radius: $border-radius;
		padding: $spacing-default;
	}
}

.generate-license-container {
	h3 {
		margin-bottom: $spacing-default;
	}
}

.generate-license-sheet {
	margin: $spacing-default auto $spacing-lg;
	padding-bottom: $spacing-default;

	.choose-purchase {
		margin-bottom: $spacing-default;
	}
}

.licenses {
	background-color: $body-bg;
	border-radius: $border-radius;
	padding: $spacing-default;
}

.license-search {
	&.custom-search {
		margin-bottom: $spacing-default;
	}
}
