body {
	&.open {
		.search-menu {
			padding-left: $product-menu-sidebar-width;
		}

		// Offset nav width to avoid overlap from user personal bar when product menu sidebar is open.

		.search-menu-nav {
			width: calc(100vw - 400px);
		}
	}
}

.advanced-search-container {
	background: $white;
	border: 1px solid $divider;
	border-radius: $border-radius;
	box-shadow: 0 4px 8px rgba(39, 40, 51, 0.12);
	max-height: $advanced-search-max-height;
	max-width: 40.625rem;
	overflow: scroll;
	padding: $spacing-default;
	position: fixed;
	width: 100%;

	.button-holder {
		text-align: right;
	}

	.date-picker {
		input {
			font-size: $input-font-size-sm;
			height: $input-height-sm;
		}
	}

	.form-group {
		h5 {
			color: $dark;
		}
	}

	.panel-body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -$spacing-sm;

		.form-group {
			margin-bottom: 0;
			padding: $spacing-sm $spacing-sm 0;
		}
	}

	.panel-header {
		border-bottom: 1px solid $secondary-l1;
		border-radius: 0;

		.collapse-icon-closed,
		.collapse-icon-open {
			right: 0;
		}
	}

	.panel-title {
		color: $secondary;
		text-transform: uppercase;
	}
}

.autocomplete-dropdown-menu {
	max-height: unset;

	&.show {
		position: fixed;
	}

	.all-results,
	.main-item {
		font-weight: $font-weight-semi-bold;
	}

	.all-results {
		color: $primary;
	}

	.main-item {
		color: $dark;
		font-size: $mid-font-size;
	}

	.secondary-information {
		font-size: $small-font-size;
	}
}

.search-match {
	.form-check-input {
		vertical-align: middle;
	}
}

.search-menu {
	background-color: $body-bg;
	border-bottom: 1px solid $secondary-l3;
	left: 0;
	padding-left: 0;
	position: fixed;
	right: 0;
	top: $header-offset;
	transition: padding 0.5s ease;
	z-index: 988;

	.account-search {
		margin: 0 auto;
		max-width: 40.625rem;
		width: 100%;

		.advanced-search-btn,
		.advanced-search-trigger {
			background-color: $light;
		}

		.advanced-search-btn {
			margin-right: $spacing-xxs;
			margin-top: $spacing-xxs;

			&[aria-expanded='true'] {
				svg {
					transform: rotate(180deg);
				}
			}

			&:hover {
				background-color: $light-d1;
			}
		}

		.advanced-search-trigger {
			border-bottom: 1px solid $secondary-l3;
			border-top: 1px solid $secondary-l3;
		}

		.input-group-item {
			flex-wrap: nowrap;
		}

		.search-btn {
			border-bottom-left-radius: initial;
			border-color: $divider;
			border-left-width: 0;
			border-top-left-radius: initial;
		}

		.search-input {
			border-bottom-right-radius: initial;
			border-right-width: 0;
			border-top-right-radius: initial;
		}
	}

	.company-logo {
		height: $spacing-lg;
		padding-right: $spacing-xs;
		width: $spacing-lg;
	}

	.logo {
		align-items: center;
		display: flex;

		h3 {
			margin: 0;
		}
	}

	// Offset nav with to never overlap with user personal bar

	.search-menu-nav {
		height: $header-height;
		width: calc(100vw - 80px);
	}
}

.user-personal-bar {
	padding: $spacing-xs $spacing-default;
	position: fixed;
	right: 0;
	top: $header-offset;
	z-index: 990;

	.sticker-lg {
		height: $spacing-lg;
		width: $spacing-lg;
	}
}
