#accountSearchManagementToolbar,
#licenseKeySearchManagementToolbar,
#productBundlesManagementToolbar {
	.management-bar {
		display: none;
	}
}

.account,
.subscription {
	display: flex;

	&.full-view {
		.side-panel {
			flex-basis: 0%;
			max-width: 0%;
		}

		.account-content,
		.subscription-content {
			flex-basis: 100%;
			flex-grow: 1;
			max-width: 100%;
		}
	}
}

.account-content,
.contact-content,
.subscription-content {
	background-color: $light;
}

.account-content,
.subscription-content {
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

.account-edit-subscription {
	margin-top: $spacing-default;
}

.account-header,
.contact-header,
.subscription-header,
.team-header {
	border-bottom: 1px solid $secondary-l3;
	padding-top: $spacing-xs;

	.account-code {
		&:after {
			content: '\00B7';
		}
	}

	.account-name,
	.breadcrumb,
	.contact-name {
		margin-bottom: 0;
	}

	.breadcrumb {
		padding-bottom: $spacing-xs;
	}

	.email-address {
		&:before {
			content: '\00B7';
		}
	}

	.header-buttons {
		display: flex;
		padding-top: $spacing-sm;

		> :not(:last-child) {
			margin-right: $spacing-sm;
		}
	}

	.header-details {
		color: $dark;
		display: flex;
		font-size: $mid-font-size;
		font-weight: $font-weight-semi-bold;
		line-height: 150%;
		list-style: none;
		margin-bottom: 0;
		margin-top: $spacing-md;
		padding-bottom: $spacing-default;
		padding-inline-start: 0;

		li {
			margin-right: $spacing-lg;
			max-width: 11rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.header-icon {
		height: 2rem;
		margin-right: $spacing-md;
		margin-top: 1.25rem;
		width: 2rem;
	}

	.header-label {
		color: $secondary;
		font-size: $small-font-size;
		letter-spacing: 0.04rem;
		text-transform: uppercase;
	}
}

.alert-indicator {
	padding-right: $spacing-xs;
}

.btn-icon svg {
	fill: $dark-l3;
	height: $spacing-md;
	width: $spacing-md;
}

.button-holder {
	&.button-holder-lg {
		margin: $spacing-default 0;
	}

	&.button-holder-sm {
		margin: $spacing-sm 0;
	}
}

.details-table {
	background-color: $body-bg;
	border: 1px solid $secondary-l3;
	border-radius: $border-radius;
	border-top-width: 0;
	margin: $spacing-default;

	a.taglib-icon {
		color: $secondary;
	}

	.list-group,
	.sheet {
		margin-bottom: 0;
	}

	.main-content-body {
		margin-top: 0;

		.taglib-empty-result-message {
			border: 0;
		}
	}

	.management-bar,
	.nav-underline {
		// See LPS-111197

		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		margin-bottom: 0 !important;

		.nav-link {
			margin: $spacing-sm;
			padding: $spacing-xs;

			&.active {
				background: rgba(39, 40, 51, 0.06);

				&:after {
					background-color: transparent;
				}

				.badge-secondary {
					background-color: $body-bg;
				}
			}
		}

		.search-input {
			.input-group-item:focus-within {
				& ~ .input-group-inset-item-after {
					background-color: $primary-l3;
					border-color: $primary-l1;
				}

				.form-control {
					box-shadow: none;
				}
			}
		}
	}

	.panel-title {
		font-size: $h4-font-size;
		padding: $spacing-sm;
	}

	.table-list {
		td,
		th {
			box-shadow: inset 0 0.0625rem $secondary-l3;
		}
	}
}

.external-select-field {
	display: flex;

	label {
		width: 100%;
	}

	.btn {
		margin-left: $spacing-md;
	}
}

.field-required {
	&:after {
		color: $danger;
		content: ' *';
	}
}

.full-width {
	.management-bar .container-fluid-max-xl,
	.subnav-tbar .container-fluid-max-xl {
		max-width: unset;
	}
}

.home {
	background-color: $light;
	padding: $spacing-default;
}

.info {
	color: $secondary;
	font-size: $mid-font-size;
	margin-bottom: $spacing-default;

	svg {
		fill: $secondary;
		margin-right: $spacing-xs;
		vertical-align: middle;
		width: $spacing-md;
	}
}

.inline-edit {
	display: inline-block;

	&.block {
		display: block;
	}

	.delete-icon {
		height: auto;
		width: $spacing-sm;
	}

	.editable-field {
		border: 1px solid $primary-l2;
		border-radius: $border-radius;
		display: flex;

		.edit-icon,
		.field {
			padding: $spacing-xs;
		}

		.edit-icon {
			background: $primary-l3;
			border-left: 1px solid $primary-l2;
		}

		.lexicon-icon-pencil {
			height: $spacing-md;
			width: $spacing-md;
		}

		.form-control {
			padding: $spacing-xxs $spacing-xs;
		}
	}
}

.multi-select-dropdown {
	max-height: 25vh;
}

.page-content {
	margin: $spacing-default;

	.sheet-header {
		align-items: center;
		border-bottom: 1px solid $divider;
		display: flex;
		justify-content: space-between;
		padding-bottom: $spacing-md;

		&:after {
			content: unset;
		}
	}
}

.page-steps {
	background-color: $body-bg;
	border-bottom: 1px solid $secondary-l3;
	color: $dark-l3;
	display: flex;
	font-size: $mid-font-size;
	justify-content: space-between;
	margin-bottom: $spacing-default;
	padding: $spacing-xxs $spacing-default;
}

.provisioning-accounts {
	.title-bar {
		border-radius: $border-radius;
	}
}

.secondary-information {
	color: $secondary;
	font-size: $mid-font-size;
}

.semi-bold {
	font-weight: $font-weight-semi-bold;
}

.title-bar {
	align-items: center;
	background-color: $body-bg;
	border-bottom: 1px solid $divider;
	display: flex;
	justify-content: space-between;
	padding: $spacing-md $spacing-xs;

	h3 {
		margin-left: $spacing-default;
	}
}
