.subscriptions-container {
	padding: 0 $spacing-default;

	.bulk-input {
		td {
			background-color: $light;
		}

		.form-control {
			background-color: $body-bg;

			&[disabled] {
				background-color: $light;

				&[placeholder],
				&::placeholder {
					color: $input-disabled-color;
				}
			}

			&[placeholder],
			&::placeholder {
				color: $dark;
			}
		}

		.input-title {
			color: $secondary;
		}

		.varied-data {
			text-align: left;
		}
	}

	.subscriptions {
		label {
			display: block;

			&.custom-checkbox {
				display: inline-block;
				vertical-align: middle;
			}
		}

		.btn-icon svg {
			fill: $dark-l3;
			height: $spacing-md;
			width: $spacing-md;
		}

		.date-picker {
			input {
				font-size: $input-font-size-sm;
				height: $input-height-sm;
			}
		}
	}

	.subscriptions-header {
		display: flex;
		justify-content: space-between;
		padding: $spacing-lg 0;
	}
}
