.subscriptions-container {
	padding: 0 $spacing-default;

	.subscriptions {
		.btn-icon svg {
			fill: $dark-l3;
			height: $spacing-md;
			width: $spacing-md;
		}

		.date-picker {
			input {
				font-size: $input-font-size-sm;
				height: $input-height-sm;
			}
		}
	}

	.subscriptions-header {
		display: flex;
		justify-content: space-between;
		padding: $spacing-lg 0;
	}
}

.subscriptions-step {
	background-color: $body-bg;
	border-bottom: 1px solid $secondary-l3;
	color: $dark-l3;
	display: flex;
	font-size: $mid-font-size;
	justify-content: space-between;
	margin-bottom: $spacing-default;
	padding: $spacing-xxs $spacing-default;
}
